@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;500&display=swap');
*{
  font-family: 'Montserrat', sans-serif;
}
#navbar{
    position: fixed;
}
a {
  text-decoration: none;
}
ul{
  list-style-type: none;
}
body {
  display: flex;
  flex-direction: column;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}
.nav {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--main-red);
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
    z-index: 10;
    background-color: brown;
  }
  .navlist{
    display: flex;
    flex-direction: row;
    place-items: right;
    
  }
  .navlist li{
    margin-right: 3rem;
    text-decoration: none;
    color: white;
  }
  .navlist li a{
    color: white;
  }
  .nav-list {
    display: flex;
    margin-right: 2rem;
  }
  .welcoming{
    margin-top: 2.5rem;
    height: 100vh;
    width: 100%;
    background-color: rgb(65, 65, 65);
    display: flex;
    flex-direction: column;
    place-items: center;
  }
  .auto-margin{
    margin: auto;
  }
  .bold {
    font-weight: 600;
    font-size: 3rem;
    text-align: center;
    color: white;
  }
  .small-centered {
   font-weight: 200;
    font-size: 2rem;
    color: brown;
  }
  .bordered {
    border-bottom: 5px #fff;
  }
  #projects {
    background-color: rgb(124, 124, 131);
  }
  .project-tile{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    gap: 2rem;
  }
#projects img{
  height: 20rem;
  width: 100%;
  object-fit: cover;
}
.project-tile .project-title{
  width: 100%;
  font-size: medium;
  color: #fff;
}
.centered{
  text-align: center;
}
  
  @media (max-width: 28.75em) {
    .nav {
      justify-content: center;
    }
  
    .nav-list {
      margin: 0 1rem;
    }
  }
  
  .nav-list a {
    display: block;
    font-size: 2.2rem;
    padding: 2rem;
  }
  
  .nav-list a:hover {
    background: var(--main-blue);
  }

  .footing{
      background-color: navajowhite;
      text-align: center;
      padding: 10px;
  }
  